<footer class="bg-primary-700 text-neutral-100 padding-block-700 fs-400">
    <div class="container">
        <a href="/"
            ><img
                class="nav-logo"
                src="images/logo-icons-avatars/logo-white.svg"
                alt="Beulah logo"
        /></a>
        <div class="grid-footer padding-inline-500 padding-block-300">
            <div>
                <nav>
                    <h4 class="fw-semi-bold padding-block-300">
                        Customer Info
                    </h4>
                    <ul role="list" aria-label="secomdary navagation">
                        <li><a href="contact">Contact</a></li>
                        <li><a href="faq">FAQ</a></li>
                        <li><a href="terms-of-service">Terms of Service</a></li>
                        <li><a href="privacy-policy">Privacy Policy</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <nav>
                    <h4 class="fw-semi-bold padding-block-300">Learn More</h4>
                    <ul role="list" aria-label="secomdary navagation">
                        <li><a href="about">About Us</a></li>
                        <li><a href="gallery">Gallery</a></li>
                        <li>
                            <a
                                aria-label="facebook"
                                href="https://www.facebook.com/Beulaheucalyptus/"
                                ><svg
                                    class="social-media-icon"
                                    xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 512 512"
                                >
                                    <path
                                        d="M504 256C504 119 393 8 256 8S8 119 8 256c0 123.78 90.69 226.38 209.25 245V327.69h-63V256h63v-54.64c0-62.15 37-96.48 93.67-96.48 27.14 0 55.52 4.84 55.52 4.84v61h-31.28c-30.8 0-40.41 19.12-40.41 38.73V256h68.78l-11 71.69h-57.78V501C413.31 482.38 504 379.78 504 256z"
                                        fill="#fff"
                                    /></svg
                            ></a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="company-address">
                <div class="padding-block-300">
                    <span>
                        Chapple Road <br />
                        Bovey Tracey <br />
                        Newton Abbot TQ13 9JX <br />
                        Copyright <span id="currentYear"></span> &copy; Beulah
                        Eucalyptus <br />
                        <a href="tel:07853 535313">Tel 07853 535313</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>
