{
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.ejs"],
            "options": {
                "parser": "html",
                "semi": false,
                "singleQuote": false
            }
        }
    ]
}
