            <section>
                <div class="container padding-block-900">
                    <section>
                        <h1 class="fs-primary-heading">About</h1>
                        <p class="padding-block-300">
                            Beulah was planted with eucalyptus in 1956 by R C Barnard. My
                            grandfather, Tom Bayles bought it from him in 1967 after moving
                            away from forestry work in Borneo. Tom passed the land to his
                            son Hugh, my father, who ran the plantation for florists until
                            the cheapening price of imported foliage made it unviable as a
                            business. The land then had areas of eucalyptus dug out and
                            began to rewild, with many of the previously coppiced plants
                            growing into full trees. When I inherited beulah in 2019 I
                            wanted to create a sustainable, biodiverse place to live and so
                            I worked on introducing native flora, creating a range of
                            habitats and using eco-friendly methods of husbandry.
                        </p>
                        <div class="even-columns top-align-rows padding-block-600">
                            <div class="padding-block-300 img-container">
                                <%- include('partials/imageSrcset', { image:
                                images.find(image => image.id === 'about'), containerClass:
                                'img-container' }) %>
                            </div>
                            <div>
                                <p>
                                    As fashions changed, I found there was a market for
                                    chemical free, local foliage and began to trade, which
                                    has allowed me to give more of my time to caretaking the
                                    land. I strongly believe in business on a human scale. I
                                    want to share the natural wealth I care for without
                                    waste or greed so I keep my prices reasonable, give away
                                    what I can and work with each of my customers
                                    personally. Beulah is a crafting community and the
                                    plants here create everything from meals to buildings as
                                    well as looking and smelling gorgeous. I care for the
                                    plants and curate orders with de-brambling help from my
                                    mum Sue. Beulah is divided into quarters for coppiced
                                    eucalyptus, food plants, wildlife, and community home
                                    and workshops. Each of these parts has a role to play in
                                    the production of our products and each is supported by
                                    their purchase. Please get in contact if you would like
                                    to come and visit.
                                </p>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
