<section class="padding-block-600">
    <div class="container">
        <h1 class="fs-secondary-heading fw-regular visually-hidden">
            Arrangements, Wreaths & Crafts
        </h1>
        <div class="column-ratio-2-1">
            <div class="column-ratio-2-1-item padding-block-300">
                <div>
                    <h2 class="fs-secondary-heading">Arrangements:</h2>
                    <p class="padding-block-300">
                        Floral displays are unique artworks that require advance
                        notice particularly if you would like inorganic
                        materials, specialist blooms, or a complex design. The
                        quotes are based on minimum wage and offcuts; larger
                        budgets allow for a more intricate piece.
                    </p>
                </div>
            </div>
            <div class="column-ratio-2-1-item padding-block-300">
                <%- include('partials/imageSrcset', { image: images.find(image => image.id === 'arrangements') }) %>
            </div>
            <div class="column-ratio-2-1-item padding-block-300 reverse">
                <div>
                    <h2 class="fs-secondary-heading">Wreaths:</h2>
                    <p>
                        Depth of texture and color are built up from seasonal
                        flora on a handwoven wooden frame. Prices start at £30
                        for a simple foliage-filled circlet.
                    </p>
                </div>
            </div>
            <div class="column-ratio-2-1-item padding-block-300">
                <%- include('partials/imageSrcset', { image: images.find(image => image.id === 'wreaths(2)') }) %>
            </div>
            <div class="column-ratio-2-1-item padding-block-300">
                <div>
                    <h2 class="fs-secondary-heading">Crafts and Dyes:</h2>
                    <p>
                        Plants are an amazing resource, and we're always finding
                        new ways to enjoy them. We have provided petal and herb
                        confetti, perfume, and teas; eucalyptus bark string,
                        firelighters and paper; eucalyptus nuts for parrots and
                        resin for craft. Get in touch if you have a craft that
                        might be enriched with some natural beauty.
                    </p>
                </div>
            </div>
            <div class="column-ratio-2-1-item padding-block-300">
                <%- include('partials/imageSrcset', { image: images.find(image => image.id === 'crafts') }) %>
            </div>
        </div>
    </div>
</section>
