<div class="container padding-block-900">
    <section>
        <h1 class="fs-primary-heading">FAQ</h1>
        <dl>
            <dt>Do you offer delivery?</dt>
            <dd>
                Generally, we sell our foliage on a local person to person basis
                but we aim to make our service accessible for everyone, so
                please do get in touch and we'll see what we can arrange.
                Delivery is available for all our oil products.
            </dd>
            <dt>How do I care for my foliage and wreaths?</dt>
            <dd>
                Store your fresh foliage out of direct sunlight in a cool place
                with the bottom of the stems in water. Let us know if you need
                foliage for hot marquees, dried bunches or other special
                circumstances. Water misting is great for your wreaths;
                Eucalyptus thrives in a slightly humid environment. Regularly
                mist the foliage or wreath with water to provide moisture and
                prevent drying out. Avoid over-saturating, as excessive moisture
                can lead to mould or decay.
            </dd>
            <dt>Can I purchase eucalyptus foliage in the summer month?</dt>
            <dd>
                Eucalyptus is primarily a winter foliage and as the weather
                warms it can look a little different then you expect. Whilst the
                young leaves develop for the cooler season, we can offer adult
                foliage, often with willow and almond shaped leaves. There are
                also flowers, buds and seeded stems available and we can let you
                know what flora are looking best for mixed bunches.
            </dd>
            <dt>Why do you sell foliage by the stem?</dt>
            <dd>
                Foliage is sold by the stem because it gives you a better idea
                of the value you get for your money. Many factors like stem
                thickness and leaf size creates too much variation in weight.
            </dd>
            <dt>How can I dry my eucalyptus?</dt>
            <dd>
                Hang the foliage bunches upside down in a cool, dark, and
                well-ventilated area. This drying method helps to retain the
                shape of the eucalyptus and will usually take around two to
                three weeks. The colour may fade and leaves become fragile, so
                we recommend you display them somewhere they are unlikely to get
                knocked.
            </dd>
        </dl>
    </section>
    <section class="funFacts padding-block-700">
        <h2 class="fs-secondary-heading">Fun Facts</h2>
        <ul class="regular-list">
            <li>
                Eucalyptus is a diverse genus, comprising over 700 species. It
                is known for its impressive variety of forms, including tall
                trees, mallee shrubs, and even eucalyptus species that resemble
                small bushes
            </li>
            <li>
                Many eucalyptus species have adaptations that help them survive
                and even benefit from wildfires. They have thick, fibrous bark
                that can withstand intense heat, and some species produce seeds
                that germinate after a fire, taking advantage of the cleared
                landscape.
            </li>
            <li>
                Eucalyptus trees are known for their fast growth rates. Some
                species can grow several feet per year, making them one of the
                fastest-growing tree genera.
            </li>
            <li>
                Indigenous Australians have long used eucalyptus leaves for
                various medicinal purposes. They would crush the leaves and use
                them as poultices for treating wounds, respiratory ailments, and
                other conditions.
            </li>
        </ul>
    </section>
</div>
