        <div class="container padding-block-900">
            <section>
                <h1 class="fs-primary-heading">FAQ</h1>
                <dl>
                    <dt>Do you offer delivery?</dt>
                    <dd>
                        Generally, we sell our foliage on a local person to person basis
                        but we aim to make our service accessible for everyone, so
                        please do get in touch and we'll see what we can arrange.
                        Delivery is available for all our oil products.
                    </dd>
                    <dt>How do I care for my foliage and wreaths?</dt>
                    <dd>
                        Every species varies in its needs, but fresh foliage will be happiest out of direct sunlight in a cool place with the bottom of the stems in water. If you want to go a step further, or if you have an arrangement or wreath to keep fresh, then you can try misting with water. Avoid over-saturating, as excessive moisture can lead to mould or decay. We will recommend particular species of foliage for hot marquees or other special circumstances, and we've got tips below for if you want to dry out your foliage.
                    </dd>
                    <dt>Can I purchase eucalyptus foliage in the summer month?</dt>
                    <dd>
                        Eucalyptus is primarily a winter foliage and as the weather
                        warms it can look a little different then you expect. Whilst the
                        young leaves develop for the cooler season, we can offer adult
                        foliage, often with willow and almond shaped leaves. There are
                        also flowers, buds and seeded stems available and we can let you
                        know what flora are looking best for mixed bunches.
                    </dd>
                    <dt>Why do you sell foliage by the stem?</dt>
                    <dd>
                        Foliage is sold by the stem because it gives you a better idea
                        of the value you get for your money. Many factors like stem
                        thickness and leaf size creates too much variation in weight.
                    </dd>
                    <dt>How can I dry my eucalyptus?</dt>
                    <dd>
                        Eucalyptus foliage dries well, for best results let it sit without water in a well-ventilated area out of strong light for several weeks. Hanging upside down as it dries may improve the finished shape of the foliage. Dried leaves will gradually fade and can be fragile, so we recommend you display them somewhere they are unlikely to get knocked.
                    </dd>
                </dl>
            </section>
            <section class="funFacts padding-block-700">
                <h2 class="fs-secondary-heading">Fun Facts</h2>
                <ul class="regular-list">
                    <li>
                        Eucalyptus is a diverse genus, comprising nearly 900 species. It is known for its impressive variety of forms, from tall trees to mallee shrubs, with leaves, flowers and seeds in an array of shapes, sizes and colours.
                    </li>
                    <li>
                        Many eucalyptus species have adaptations that help them survive and even benefit from wildfires. They have thick, fibrous bark that can withstand intense heat, and some species produce seeds that germinate after a fire, taking advantage of the cleared landscape.
                    </li>
                    <li>
                        Eucalyptus trees are known for their fast growth rates. Although some species are slow, twisting trees, others can grow several feet per year, making them one of the fastest-growing tree genera. 
                    </li>
                    <li>
                        Indigenous Australians have long used eucalyptus leaves for various medicinal purposes. They would crush the leaves and use them as poultices for treating wounds, respiratory ailments, and other conditions. All around the world, we value this wisdom in day-to-day products still, using eucalyptus for its insecticidal, antibacterial and antimicrobial cleanliness and the help of its antioxidant, anti-inflammatory and decongestant chemicals to warm and relieve pain, as well as help with clear breathing. 

                    </li>
                </ul>
            </section>
        </div>
