<section class="padding-block-900">
    <div class="container">
        <div class="even-columns">
            <div>
                <h3 class="fs-secondary-heading fw-regular">
                    Eucalyptus Infused Oils
                </h3>
                <h4 class="padding-block-300">Our current concoctions:</h4>
                <dl>
                    <dt>Warming & Cooling</dt>
                    <dd>
                        Eucalyptus, St John's Wort, Tee Tree, Lemon Balm,
                        Rosemary, Pine and Camomile, in Hazel, Olive and Almond
                        oils.
                    </dd>
                    <dt>Primrose and Petals</dt>
                    <dd>
                        Eucalyptus, Rose, Speedwell, Water Mint and Honey in
                        evening Primrose and Hazelnut oils.
                    </dd>
                    <dt>Herbal Marigold</dt>
                    <dd>
                        Marigold, Eucalyptus, St John's Wort, Black Elderflower,
                        Chocolate Mint, Lemon Balm, Feverfew, sage and Tee Tree
                        in Almond, Castor and Hemp oils. Ideal for beards and
                        hair.
                    </dd>
                    <dt>Hazel Tan</dt>
                    <dd>
                        Smoked leaves of Beech, Oak, Eucalyptus, St John's Wort,
                        Camelia, Lemon Balm and Dandelion in Hazel and Olive
                        oils.
                    </dd>
                </dl>
                <p class="padding-block-300">
                    Postage is available for all our oils. Contact us for stock
                    and availability or feel free to make a
                    <a href="contact.html" class="link">request</a> and we'll
                    see what we can put together for you.
                </p>
            </div>
            <%- include('partials/imageSrcset', { image: images.find(image =>
            image.id === 'oils'), containerClass: 'img-container' }) %>
        </div>
    </div>
</section>
