<section>
    <div class="container padding-block-900">
        <h2 class="fs-secondary-heading fw-regular padding-block-300">Eucalyptus Varieties</h2>
        <%- include('partials/three-column', { columns: [
                    { imageId: 'acaciiformis', 
                      heading: 'Acaciiformis', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'camphora', 
                      heading: 'Camphora', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'cinerea', 
                      heading: 'Cinerea', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'coccifera', 
                      heading: 'Coccifera', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'glaucescens', 
                      heading: 'Glaucescens', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'gunni', 
                      heading: 'Gunni', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'johnstonii', 
                      heading: 'Johnstonii', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'nicholii', 
                      heading: 'Nicholii', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'nitens', 
                      heading: 'Nitens', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'pauciflora-niphophila', 
                      heading: 'Pauciflora niphophila', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'perriniana', 
                      heading: 'Perriniana', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'pulverulenta', 
                      heading: 'Pulverulenta', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'stellulata', 
                      heading: 'Stellulata', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'neglecta', 
                      heading: 'Neglecta', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'nicholii-cross-acaciiformis', 
                      heading: 'Nicholii x Acaciiformis', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'parvula', 
                      heading: 'Parvula', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
                    { imageId: 'pauciflora', 
                      heading: 'Pauciflora', 
                      paragraph: 'add list of these with link to a page with photo and description.' },
          ] }) %>
</section>
<!-- sections to add after launch -->
<!-- Non Eucalyptus Foliage -->
    <!-- UK Natives -->
    <!-- Classics -->
    <!-- Other Exotics -->